extends index.pug

block content
  section.layout-width-sd.layout-col
    .section-hdg.section-hdg-1 Category #{category.name}
    .layout-row.layout-width-1-1
      .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        .itembanner.layout-col
          .itemdetail.layout-col
            label.label(for="categoryname") Name:
            .data#categoryname #{category.name}
          .itemdetail.layout-col
            label.label(for="categorydescription") Description:
            .data#categorydescription #{category.description}
          #category_edit_button_container.authUI(data-fetch="category_edit" data-href="/categories/" + category.id + "/actions/edit/")
        .item-listing.layout-col
          .itemdetail.layout-col
            label.label(for="categoryexpenses") Expenses:
          //-   each role in category.roles
          //-     - let targetLoc = "/roles/" + role.id + "/";
          //-     .subitem-listing.layout-col.layout-width-1-1.clickable(onclick="goTo('" + targetLoc + "')")
          //-       .data #{role.name}
          //-       .subdata #{role.description}
          //- .itemdetail.layout-col
          //-   label.label Actions:
          //-   .data.layout-row
          //-     //- input.btnprimary.buttonconfirm(type="submit" id="submit" value="Confirm")
          //-     a.btn.submit(href="/categorys/" + category.id + "/actions/edit/") Edit
          //-     a.btn.cancel(href="/categorys/") Cancel
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Category View
        .infotext You can edit a category with this view.
        .infotext Modify the details for the category.
        .infotext.section-hdg.section-hdg-3 Name
        .infotext Enter the user's email address here. This should be a valid email address
        .infotext.example.layout-col
          .infotext.heading Examples:
          .infotext tommy@test.com
        .infotext.important This is a required field.
