extends index.pug

block content
  section.layout-width-sd.layout-col
    .layout-width-1-1.layout-col
      .layout-width-1-1.layout-col
        h1 Welcome to froogle.io! Expense-tracking made easy!
      .layout-width-1-1.layout-col
      if(user)
        h2 Hi again, #{user.firstname}!
        include froogle-dashboard
      else
        h2 Let's get started!
        .layout-width-1-1.layout-row.layout-md-col.layout-wrap
          .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.clickable(onclick="goTo('/login/')")
            .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
              i.material-icons.big-icon verified_user
            .layout-width-3-4.text-align-justify Log-In to see your financial dashboard. Manage your log of expenses. Create a personalized budget. Keep important people informed.
          .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.clickable(onclick="goTo('/register/')")
            .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
              i.material-icons.big-icon fingerprint
            .layout-width-3-4.text-align-justify Get started by creating an account. Begin tracking your daily expenditures. Feel better knowing how your money is spent.

        h4 #[a(href="/register/") Sign-Up] or #[a(href="/login/") Log-On] to easily keep tabs of your daily expenses.
    .layout-width-1-1.layout-col
      if(user)
        if(invites)
          .layout-width-1-2.layout-col
            - let invitesNum = invites.length || 0;
            if(invitesNum)
              div Note: You've been invited to connect to the folowing domains: #{invitesNum}
              each invite in invites
                div Invitation #: #{invite.roleAppid}
                .layout-width-1-1.layout-row
                  a.btn.btn-small.tertiary.layout-width-1-2(href= "/invites/" + invite.roleAppid + "/" ) Accept Invite
                  // a(href= "/invites/" + invite.roleAppid + "/") #{invite.roleAppid}
                .layout-width-1-1.layout-col You've probably received notification about this invitation. If not you can ignore it for now.
        .layout-width-1-1.layout-col
          h2 Here are your domains:
          .layout-width-1-1.layout-row.layout-md-col.layout-wrap
            if(user.defaultDomainId)
              .layout-width-1-1 Your default domain is: #{user.defaultDomainId}
            if(user.domains)
              each domain in user.domains
                .layout-width-1-2.layout-md-width-1-1.layout-col
                  .layout-col
                    .itemhead.layout-col
                      a(href="/domains/" + domain.id + "/") #{domain.name}
                    .layout-col
                      .itemdetail #{domain.description}
                      - let selectedDomain = (user.currentDomain.id==domain.id) ? "*" : null;
                      - let switchToDomain = (user.currentDomain.id!=domain.id) ? "/users/" + user.id + "/actions/switchdomain/" + domain.id + "/" : "";
                      if(user.currentDomain.id!=domain.id)
                        a.btn.btn-small.tertiary.layout-width-1-2(href= switchDomain ) Set As Default
                    .layout-width-1-1.layout-col
                      if(domain.notes)
                        .layout-row.layout-width-1-1 Notes:
                        each note in domain.notes
                          .item-listing.layout-row
                            .layout-row.layout-align-center
                              i.material-icons.text-grow-x3 receipt
                            .layout-col
                              .nobreak #{note.name}
                              .layout-row #{note.description}
        .item-listing.layout-width-1-1.layout-col
          .layout-width-1-1 Create a new domain here:
          .layout-width-1-1
            input#domain(type="text")
      else
        .layout-width-1-1.layout-row.layout-md-col.layout-wrap
          .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.layout-col
            h3 Why Track What You Spend?
            .layout-width-1-1 Awareness is the key to financial responsibility. Understanding your spending habits puts you in better control of your money.
            .layout-width-1-1 Unfortunately technology has made it easier than ever to lose track of what you are spending. Credit-cards and mobile payment systems turn your bank account into a leaky bucket. If you are disappointed with your financial strength at the end of the month the first thing is to become aware of what is making your account weak.
            .layout-width-1-1 Expense-tracking helps you find the weaknesses.
          .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.layout-col
            h3 Why froogle?
            .layout-width-1-1 froogle.io is the easiest way to achieve true financial awareness.
            .layout-width-1-1 Stop collecting paper receipts of your expenditures. Use froogle.io to keep track of how you spend and what your budget goals are. Simply record what you spend the moment you spend. froogle.io will take care of the rest!


