extends index.pug

block content
  section.layout-width-sd.layout-col
    .layout-width-1-1.layout-col
      .layout-width-1-1.layout-col
        h1 Welcome to froogle.io! Expense-tracking made easy!
      .layout-width-1-1.layout-col
      if(user)
        h2 Hi again, #{user.firstname}!
        include froogle-dashboard
      else
        h2 Let's get started!
        +login-or-register("Log-In to see your financial dashboard. Manage your log of expenses. Create a personalized budget. Keep important people informed.","Get started by creating an account. Begin tracking your daily expenditures. Feel better knowing how your money is spent.")
        h4 #[a(href="/register/") Sign-Up] or #[a(href="/login/") Log-On] to easily keep tabs of your daily expenses.
    .layout-width-1-1.layout-col
      if(user)
        if(invites)
          include invites
        .layout-width-1-1.layout-col
          h2 Here are your personal accounts:
          .layout-width-1-1.layout-row.layout-md-col.layout-wrap
            if(user.domains)
              each domain in user.domains
                if domain.name!="Trash Domain" && domain.name!="Default Domain"
                  .item-listing.layout-width-1-2.layout-md-width-1-1.layout-col
                    .layout-col
                      .itemhead.layout-row #[a(href="/domains/" + domain.id + "/") #{domain.name}] #[i.material-icons.badge(alt="(default account)" title="This is currently your default account") stars]
                      .layout-col
                        .itemdetail #{domain.description}
                        - let defaultToDomain = (user.defaultDomainId!=domain.id) ? "/users/" + user.id + "/actions/setdefaultdomain/" + domain.id + "/" : "";
                        if(user.defaultDomainId!=domain.id)
                          a#domain_make_default_button.btn.tertiary.layout-size-x1.buttondomaindefault(href= defaultToDomain)
                            i.material-icons stars
                            span Make Default
                      .layout-width-1-1.layout-col
                        if(domain.notes)
                          .layout-row.layout-width-1-1 Notes:
                          each note in domain.notes
                            .item-listing.layout-row
                              .layout-row.layout-align-center
                                i.material-icons.text-grow-x3 receipt
                              .layout-col
                                .nobreak #{note.name}
                                .layout-row #{note.description}
        +create-or-see-domains("Account")
      else
        .layout-width-1-1.layout-row.layout-md-col.layout-wrap
          .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.layout-col
            h3 Why Track What You Spend?
            .layout-width-1-1 Awareness is the key to financial responsibility. Understanding your spending habits puts you in better control of your money.
            .layout-width-1-1 Unfortunately technology has made it easier than ever to lose track of what you are spending. Credit-cards and mobile payment systems turn your bank account into a leaky bucket. If you are disappointed with your financial strength at the end of the month the first thing is to become aware of what is making your account weak.
            .layout-width-1-1 Expense-tracking helps you find the weaknesses.
          .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.layout-col
            h3 Why froogle?
            .layout-width-1-1 froogle.io is the easiest way to achieve true financial awareness.
            .layout-width-1-1 Stop collecting paper receipts of your expenditures. Use froogle.io to keep track of how you spend and what your budget goals are. Simply record what you spend the moment you spend. froogle.io will take care of the rest!


